
obj/CentroDeSalud.csproj.nuget.dgspec.json
obj/CentroDeSalud.csproj.nuget.dgspec.json
*.props
obj/CentroDeSalud.csproj.nuget.dgspec.json
obj/CentroDeSalud.csproj.nuget.g.props
obj/Debug/net6.0/CentroDeSalud.assets.cache
obj/Debug/net6.0/CentroDeSalud.GeneratedMSBuildEditorConfig.editorconfig
obj/CentroDeSalud.csproj.nuget.dgspec.json
obj/CentroDeSalud.csproj.nuget.g.props
obj/Debug/net6.0/CentroDeSalud.assets.cache
obj/Debug/net6.0/CentroDeSalud.GeneratedMSBuildEditorConfig.editorconfig
obj/CentroDeSalud.csproj.nuget.dgspec.json
.vs/CentroDeSalud/DesignTimeBuild/.dtbcache.v2
*.v2
.vs/CentroDeSalud/FileContentIndex/4590c878-ccb4-4109-81e6-be68bc2d9005.vsidx
.vs/CentroDeSalud/FileContentIndex/627c5aa5-a1d9-4439-bc20-0a10d8a41e8a.vsidx
.vs/CentroDeSalud/DesignTimeBuild/.dtbcache.v2
.vs/CentroDeSalud/FileContentIndex/4590c878-ccb4-4109-81e6-be68bc2d9005.vsidx
.vs/CentroDeSalud/DesignTimeBuild/.dtbcache.v2
.vs/CentroDeSalud/FileContentIndex/627c5aa5-a1d9-4439-bc20-0a10d8a41e8a.vsidx
.vs/CentroDeSalud/FileContentIndex/6a9ab289-b420-45ec-b290-7ec9384ebd7d.vsidx
.vs/CentroDeSalud/FileContentIndex/7e41d4ea-dea0-4cf5-9fa4-e31b8839a2a8.vsidx
.vs/CentroDeSalud/FileContentIndex/b125f415-36ce-4fa5-8f61-8628a218b8c8.vsidx
.vs/CentroDeSalud/FileContentIndex/cdbdedc2-35b8-471b-9bea-0b42c1d8cd17.vsidx
.vs/CentroDeSalud/FileContentIndex/f83a5e9c-06b3-4b98-ba5c-7c4b42cd1ba0.vsidx
.vs/CentroDeSalud/v17/.suo
.vs/CentroDeSalud/v17/.futdcache.v2
.vs/CentroDeSalud/FileContentIndex/f83a5e9c-06b3-4b98-ba5c-7c4b42cd1ba0.vsidx
.vs/CentroDeSalud/FileContentIndex/8bcd5fac-05eb-4cb8-9042-adc387cab270.vsidx
.vs/CentroDeSalud/FileContentIndex/627c5aa5-a1d9-4439-bc20-0a10d8a41e8a.vsidx
.vs/CentroDeSalud/FileContentIndex/4590c878-ccb4-4109-81e6-be68bc2d9005.vsidx
.vs/CentroDeSalud/DesignTimeBuild/.dtbcache.v2
.vs/CentroDeSalud/FileContentIndex/4590c878-ccb4-4109-81e6-be68bc2d9005.vsidx
.vs/CentroDeSalud/DesignTimeBuild/.dtbcache.v2
.vs/CentroDeSalud/FileContentIndex/4590c878-ccb4-4109-81e6-be68bc2d9005.vsidx
.vs/CentroDeSalud/FileContentIndex/627c5aa5-a1d9-4439-bc20-0a10d8a41e8a.vsidx
.vs/CentroDeSalud/FileContentIndex/8bcd5fac-05eb-4cb8-9042-adc387cab270.vsidx
.vs/CentroDeSalud/FileContentIndex/f83a5e9c-06b3-4b98-ba5c-7c4b42cd1ba0.vsidx
.vs/CentroDeSalud/v17/.futdcache.v2
.vs/CentroDeSalud/v17/.suo
.vs/ProjectEvaluation/centrodesalud.metadata.v7.bin
.vs/ProjectEvaluation/centrodesalud.projects.v7.bin
obj/CentroDeSalud.csproj.nuget.dgspec.json
obj/CentroDeSalud.csproj.nuget.g.props
obj/Debug/net6.0/CentroDeSalud.assets.cache
obj/Debug/net6.0/CentroDeSalud.GeneratedMSBuildEditorConfig.editorconfig
.vs/CentroDeSalud/DesignTimeBuild/.dtbcache.v2
.vs/CentroDeSalud/FileContentIndex/4590c878-ccb4-4109-81e6-be68bc2d9005.vsidx
.vs/CentroDeSalud/FileContentIndex/627c5aa5-a1d9-4439-bc20-0a10d8a41e8a.vsidx
.vs/CentroDeSalud/FileContentIndex/8bcd5fac-05eb-4cb8-9042-adc387cab270.vsidx
obj/project.nuget.cache
obj/project.assets.json
obj/project.nuget.cache
obj/project.nuget.cache
obj/project.assets.json
obj/Debug/net6.0/CentroDeSalud.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net6.0/CentroDeSalud.assets.cache
obj/CentroDeSalud.csproj.nuget.g.props
obj/CentroDeSalud.csproj.nuget.dgspec.json
obj/project.nuget.cache
obj/project.assets.json
obj/Debug/net6.0/CentroDeSalud.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net6.0/CentroDeSalud.assets.cache
.vs/CentroDeSalud/DesignTimeBuild/.dtbcache.v2
.vs/CentroDeSalud/FileContentIndex/4590c878-ccb4-4109-81e6-be68bc2d9005.vsidx
.vs/CentroDeSalud/FileContentIndex/627c5aa5-a1d9-4439-bc20-0a10d8a41e8a.vsidx
.vs/CentroDeSalud/FileContentIndex/8bcd5fac-05eb-4cb8-9042-adc387cab270.vsidx
.vs/CentroDeSalud/FileContentIndex/f83a5e9c-06b3-4b98-ba5c-7c4b42cd1ba0.vsidx
.vs/CentroDeSalud/v17/.futdcache.v2
.vs/CentroDeSalud/v17/.suo
.vs/ProjectEvaluation/centrodesalud.metadata.v7.bin
.vs/ProjectEvaluation/centrodesalud.projects.v7.bin
obj/CentroDeSalud.csproj.nuget.dgspec.json
obj/CentroDeSalud.csproj.nuget.g.props
obj/Debug/net6.0/CentroDeSalud.assets.cache
obj/Debug/net6.0/CentroDeSalud.GeneratedMSBuildEditorConfig.editorconfig
.vs/CentroDeSalud/DesignTimeBuild/.dtbcache.v2
.vs/CentroDeSalud/DesignTimeBuild/.dtbcache.v2
.vs/CentroDeSalud/FileContentIndex/4590c878-ccb4-4109-81e6-be68bc2d9005.vsidx
.vs/CentroDeSalud/FileContentIndex/627c5aa5-a1d9-4439-bc20-0a10d8a41e8a.vsidx
.vs/CentroDeSalud/FileContentIndex/8bcd5fac-05eb-4cb8-9042-adc387cab270.vsidx
.vs/CentroDeSalud/FileContentIndex/f83a5e9c-06b3-4b98-ba5c-7c4b42cd1ba0.vsidx
.vs/CentroDeSalud/v17/.futdcache.v2
.vs/CentroDeSalud/v17/.suo
obj/CentroDeSalud.csproj.nuget.dgspec.json
obj/CentroDeSalud.csproj.nuget.g.props
obj/Debug/net6.0/CentroDeSalud.assets.cache
*.vsidx
*.v2
.vs/CentroDeSalud/DesignTimeBuild/.dtbcache.v2
*.v2
*.vsidx
*.vsidx
.vs/CentroDeSalud/v17/.suo
.vs/CentroDeSalud/FileContentIndex/8bcd5fac-05eb-4cb8-9042-adc387cab270.vsidx
.vs/CentroDeSalud/FileContentIndex/f83a5e9c-06b3-4b98-ba5c-7c4b42cd1ba0.vsidx
.vs/CentroDeSalud/v17/.futdcache.v2
.vs/ProjectEvaluation/centrodesalud.metadata.v7.bin
obj/CentroDeSalud.csproj.nuget.dgspec.json
obj/CentroDeSalud.csproj.nuget.g.props
obj/Debug/net6.0/CentroDeSalud.assets.cache
obj/Debug/net6.0/CentroDeSalud.GeneratedMSBuildEditorConfig.editorconfig
obj/project.assets.json
obj/project.nuget.cache
obj/Debug/net6.0/CentroDeSalud.GeneratedMSBuildEditorConfig.editorconfig
